@model SongDetailsViewModel
@using RedeyeMusic.Web.Infrastructure.Extensions;
@{
    ViewData["Title"] = "Song Details";
    int seconds = Model.Duration % 60;
    int minutes = Model.Duration / 60;
    var span = new TimeSpan(0, 0, seconds);
    var durationInMinutes = string.Format("{0}:{1:00}", (int)span.TotalMinutes, span.Seconds);
}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <img src="@Model.ImageUrl" class="img-fluid rounded" alt="@Model.Title">
        </div>
        <div class="col-md-6">
            <h2 class="mb-3">@Model.Title</h2>
            <p class="">@Model.ArtistName</p>
            <p>@Model.Lyrics</p>
            <p>Duration: @durationInMinutes</p>
            <p>Listen Count: @Model.ListenCount</p>
            <p>AlbumName: @Model.AlbumName</p>
            <div>
                <a asp-action="Edit" asp-controller="Song" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
                <a class="btn btn-danger delete-button" data-toggle="modal" data-target="#confirmDeleteModal" data-song-id="@Model.Id">Delete</a>
                <a asp-action="Index" asp-controller="Home" asp-route-id="@Model.Id" class="btn btn-secondary">Back to List</a>
            </div>
        </div>
    </div>

    @if (Model.Artist != null)
    {
        <hr class="mt-4">
        <div class="row mt-4">
            <div class="col-md-6">
                <h3>Artist Information</h3>
                <div class="d-flex">
                    <div>
                        <p class="">@Model.Artist.Name</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <h3>Albums</h3>
                <div class="row">
                    @foreach (var album in Model.Artist.Albums)
                    {
                        <div class="col-md-4 mb-4">
                            <div class="card">
                                <img src="@album.ImageUrl" class="card-img-top" alt="@album.Name">
                                <div class="card-body">
                                    <h5 class="card-title">@album.Name</h5>
                                    <p class="card-text">@album.Description</p>
                                    <a href="@Url.Action("Details", "Album", new { id = album.Id })" class="btn btn-primary">Details</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</div>

<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteModalLabel">Confirm Delete</h5>
                
            </div>
            <div class="modal-body">
                <p>Please enter your password to confirm the deletion.</p>
                <input type="hidden" id="songIdInput" />
                <input type="password" class="form-control" id="passwordInput" placeholder="Enter your password" required>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="cancelButton" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" id="confirmDeleteButton">Delete</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/site.js"></script>
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
           
            $(".delete-button").click(function () {
                
                $("#confirmDeleteModal").modal("show");

                
                var songId = $(this).data("song-id");

                
                $("#songIdInput").val(songId);
            });

            
            $("#confirmDeleteButton").click(function () {
                
                var password = $("#passwordInput").val();

                
                var songId = $("#songIdInput").val();

                
                var formData = new FormData();
                formData.append("id", songId);
                formData.append("password", password);

                $.ajax({
                    url: "/Song/Delete",
                    method: "POST",
                    data: formData,
                    processData: false,
                    contentType: false
                }).done(function () {
                    
                    window.location.href = "/Song/Mine";
                    toastr.success("Song deleted successfully!");
                    
                }).fail(function (xhr) {
                    
                    toastr.error(xhr.responseText);
                }).always(function () {
                    $("#confirmDeleteModal").modal("hide");
                    $("#passwordInput").val(""); 
                    $("#confirmDeleteButton").prop("disabled", false); 
                });
            });

            
            $("#confirmDeleteModal").on("hide.bs.modal", function () {
                $("#passwordInput").val("");
            });
            $("#cancelButton").click(function () {
                $("#passwordInput").val("");
                location.reload();
            });
        });
    </script>
}
